/* include another css file named fluent.css */
@import url('fluent.css');

.article {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 0px 50px 50px 50px;
}

.miniature img {
    width: 400px;
    border-radius: 25px;
    box-shadow: none;
}

.article-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.article-subtitle {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: #aaa;
}

.article-content {
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
    color: #000;
}

.close-button {
    position: -webkit-sticky;
    position: sticky;
    width: 25px;
    top: 0px;
    left: 0px;
}

.close-button img {
    width: 25px;
    height: 25px;
    transition: .3s ease;
    margin: 0px 0px 0px 0px;
}

.close-button img:hover {
    filter: invert(80%);
    cursor: pointer;
}

/* Adding corrections for css on the article content */
h1 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    color: #000;
}

h2 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    color: #aaa;
}

pre {
    padding: 10px;
}

a {
    color: #000;
    transition: .3s ease;
}

a:hover {
    color: #aaa;
    text-decoration: none;
}