.card {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 250px;
    height: 340px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: bottom;
    transition: all 0.3s ease;
}

.miniature img {
    width: 150px;
    margin: 0 auto;
}

.card-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.card-subtitle {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: #aaa;
}

.card-description {
    /* text overflow */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    /* word wrap */
    word-wrap: break-word;


    margin-top: 10px;
    font-size: 15px;
    text-align: left;
    color: #000;
}

.card:hover {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    cursor: pointer;
    /* increase size without moving other elements */
    transform: scale(1.05);

}