.article {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    padding: 50px;
}

.article-title {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.article-subtitle {
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    color: #aaa;
}

.article-content {
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
    color: #000;
}